/* Footer.css */
.footer {
    background-color: #111;
    color: #c0c0c0;
    padding: 1rem 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(76, 0, 130, 0.3);
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 0.8rem;
}
